.footer {
    background-color: #989ef3;
    color: white;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    width: 200px;
  }
  
  .footer-content a {
    color: white;
    text-decoration: none;
  }
  
  .footer-content img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s;
  }
  
  .footer-content img:hover {
    opacity: 0.7;
  }
  