.navbar {
  background-color: #767dda;
  color: white;
  padding: 1em 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

.navbar ul li {
  margin: 0 1em;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #f4f4f4;
}
